h1{
    display: flex;
    justify-content: flex-start;
    
    color:rgb(255, 255, 255);
    font-size: 300%;
    padding: 2rem 0 2rem 4rem;
    margin: 0;
    border: 0;
    
    /*text-shadow:
    0 1px #e5472c,
    -1px 0 #d75e19,
    -1px 2px #e5472c,
    -2px 1px #d75e19,
    -2px 3px #d75e19,
    -3px 2px #d75e19,
    -3px 4px #e5472c,
    -4px 3px #d75e19,
    -4px 5px #e5472c,
    -5px 4px #d75e19,
    -5px 6px #e5472c,
    -6px 5px #d75e19,
    -6px 7px #e5472c,
    -7px 6px #d75e19,
    -7px 8px #e5472c,
    -8px 7px #d75e19;
    */

    /*text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/
    /*text-shadow: 4px 4px 0 #ffd217, 8px 8px 0 #5ac7ff;*/
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;



    
}

body{
    
    font-family: 'Bebas Neue', cursive;

    background-image: url("../img/pontus-wellgraf-vvme8J-gJVE-unsplash.jpg");   
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken ;
    

}

#container{   
    padding: 2rem;
}

.heads{
    
    color: rgb(255, 255, 255);
    font-size: 1000%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0 0.8rem 4rem;
    /*text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;*/
    text-shadow: -1px 1px 1px #ffd217, -2px 2px 0 #ffd217, -3px 3px 0 #ffd217, -4px 4px 0 #ffd217, -5px 5px 0 #ffd217, -6px 6px 0 #ffd217, -7px 7px 7px black;

}
/*ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    
}
li{
    list-style-type: none;  
    display: inline;
    font-size: 500%;
    padding: 50px;
    
}

a{
    
    text-decoration: none;
    color: white;
    text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

a:hover{
    filter:blur(1px);
    color: rgb(255, 174, 174);
}*/